# Byte-compiled / optimized / DLL files
/__pycache__/
.pytest_cache
/api/__pycache__
/api/.pytest_cache
/tests/.pytest_cache
/tests/__pycache__/
/api
/db
/models
/tests
/smapi
.vscode
__pycache__

# Unit test / coverage reports
.coverage
.coverage.*
.cache

# Environments
venv/

#others
.travis.yml
codecov.yml
.coveralls.yml
config.py
Procfile
requirements.txt
__init__.py
run.py
