<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Store Manager application, Admin dashboard">
        <meta name="author" content="Victor Nomwesigwa">
        <meta name="HandheldFriendly" content="true">

        <title>V & M Shopping</title>
        <!--Stylesheet-->
        <link rel="stylesheet" type="text/css" href="../css/index.css" />

        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

         
        <script>
            
        </script>

    </head>
    <body>
        <header class="dashboard">
            <div class="logo-section">
                <a href="indexOwner.html"> V&M <span>Shopping</span></a>
            </div>
        </header>

        <div class="main-section">
            <aside id="side-menu">
                <ul class="menu">
                    <li><a href="indexOwner.html">Dashboard</a> </li>
                    <li><a href="salesOwner.html">Sales</a> </li>
                    <li><a  href="employess.html">Employees</a> </li>
                    <li><a class="selected" href="manageProducts.html">Products</a> </li>                                    
                    <li><a href="index.html">Logout</a> </li>    
                </ul>
            </aside>
            <div class="content">
                <div class="main-info">
                    <div class="down-section">
                            <div class="add-form" id="add-form">
                                <div class="add-section">
                                    <form>   
                                        <h5>Create a New Product</h5>                           
                                        <div class="form-wrap">
                                            <label>Product Name</label>
                                            <input type = "text" name="np" placeholder="Product Name" required>
                                        </div>                                            
                                        <br>
                                        <div class="form-wrap">
                                            <label>Category</label>                                        
                                            <select name="pdt_categories">
                                                    <option value="">Select Category</option>
                                                    <option value="food">Food</option>
                                                    <option value="detergent">Detergent</option>
                                                    <option value="homeu">Home Utilities</option>
                                                    <option value="school">Scholastic Materials</option>
                                                    <option value="baked">Baked Goodies</option>
                                                    <option value="wpdt">Women Products</option>
                                                    <option value="mpdt">Men Products</option>
                                            </select>
                                        </div>
                                        
                                        <div class="form-wrap">
                                            <label>Unit Price</label> 
                                            <input type="text" name="up" placeholder="Unit Price" required>
                                        </div>
                                        
                                        <div class="form-wrap">
                                            <label>Quantity</label> 
                                            <input type="text" name="quantity" placeholder="Quantity" required>
                                        </div>
                                        
                                        <div class="form-wrap">
                                            <label>Measure</label> 
                                            <input type="text" name="measure" placeholder="Measure eg Kg" required>
                                        </div>
                                        <br>
                                        <div class="form-wrap btn">
                                            <input type="button" onclick="location.href = '#';" name="addbtn2" value="Add Product">
                                        </div>       
                                    </form>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>