<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Store Manager application, Attendant dashboard">
        <meta name="author" content="Victor Nomwesigwa">
        <meta name="HandheldFriendly" content="true">

        <title>V & M Shopping</title>
        <!--Stylesheet-->
        <link rel="stylesheet" type="text/css" href="../css/index.css" />

        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src = "../scripts/logout.js"></script>
        <script src="../scripts/postProducts.js"></script>

    </head>
    <body>
        <header class="dashboard">
            <div class="logo-section">
                <a href="indexAttendants.html"> V&M <span>Shopping</span></a>
            </div>
        </header>

        <div class="main-section">
            <aside id="side-menu">
                <ul class="menu">
                    <li><a href="indexAttendants.html">Dashboard</a> </li>
                    <li><a href="salesAttendants.html">Sales</a> </li>
                    <li><a class="selected" href="manageProductA.html">Products</a> </li>                                    
                    <li><a onclick="logout()">Logout</a> </li>    
                </ul>
            </aside>
            <div class="content">
                <div class="main-info">
                    <div class="down-section">
                            <div class="add-form" id="add-form">
                                <div class="add-section">
                                    <form>   
                                        <h5>Create a New Product</h5>                           
                                        <div class="form-wrap">
                                            <label>Product Name</label>
                                            <input type = "text" name="np" id="pdtname" placeholder="Product Name" required>
                                        </div>                                            
                                        <br>
                                        <div class="form-wrap">
                                            <label>Category</label>                                        
                                            <select name="pdt_categories" id="pdtcategory">
                                                <option value="">Select Category</option>
                                                <option value="Food">Food</option>
                                                <option value="Detergent">Detergent</option>
                                                <option value="Home Utilities">Home Utilities</option>
                                                <option value="Scholastic Materials">Scholastic Materials</option>
                                                <option value="Baked Goodies">Baked Goodies</option>
                                                <option value="Women Poducts">Women Products</option>
                                                <option value="Men Products">Men Products</option>
                                            </select>
                                        </div>
                                        
                                        <div class="form-wrap">
                                            <label>Unit Price</label> 
                                            <input type="text" name="up" id="unitprice" placeholder="Unit Price" required>
                                        </div>
                                        
                                        <div class="form-wrap">
                                            <label>Quantity</label> 
                                            <input type="text" name="quantity" id="pdtqty" placeholder="Quantity" required>
                                        </div>
                                        
                                        <div class="form-wrap">
                                            <label>Measure</label>                                        
                                            <select name="pdt_measure" id="pdtmeasure">
                                                <option value="">Select Measure</option>
                                                <option value="Kilograms">Kilograms</option>
                                                <option value="Boxes">Boxes</option>
                                                <option value="Cartons">Cartons</option>
                                                <option value="Dozen">Dozen</option>
                                                <option value="Ounces">Ounces</option>
                                                <option value="Packets">Packets</option>
                                                <option value="Pieces">Pieces</option>
                                                <option value="Litres">Litres</option>
                                            </select>
                                        </div>
                                        <br>
                                        <div class="form-wrap btn">
                                            <input type="button" onclick="addProducts();" name="addbtn2" value="Add Product">
                                        </div>       
                                    </form>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>