<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">

        <title>V&M Shopping</title>
        <!--css style link-->
        <link rel="stylesheet" href="../css/index-edit.css">
        <!--Material icon link-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script src="../scripts/login.js"></script>
    </head>
    <body>
        <div style="position:absolute;opacity:0.9;width:auto;left:8px;right:10px;">
            <div class="gridwrapper" style="height:10%;">
                <div class="gridcontent" style="width:100%;background:#262626;border-right-color:transparent;">
                    <header><h1 style="color:white; text-align: center;">V & M SHOPPING</h1></header>
                </div>
            </div>
            <div id="login-content">
                <div id="login-form">
                    <form>
                        <div id="form-wrap">
                            <label>Username</label>
                            <input type = "text" name="username" placeholder="Enter your username" id="usernamefield" required>
                        </div>
                        <div id="form-wrap">
                            <label>Password</label> 
                            <input type="password" name="pswd" placeholder="Enter your Password" id = "passwordfield" required>
                        </div>
                        <div id="form-wrap">
                            <select name="role" id="role">
                                <option value="">Select Role</option>
                                <option value="admin">Store Owner</option>
                                <option value="attendant">Store Attendant</option>
                            </select>
                        </div>
                        <span class="errors" style="color:#FF0000"></span>
                        <div id="form-wrap">
                            <input type="button" onclick="login()" name="signin" value="Sign In">
                        </div>                     
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
