<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Store Manager application, Admin dashboard">
        <meta name="author" content="Victor Nomwesigwa">
        <meta name="HandheldFriendly" content="true">

        <title>V & M Shopping</title>
        <!--Stylesheet-->
        <link rel="stylesheet" type="text/css" href="../css/index.css" />

        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="../scripts/logout.js"></script>
    </head>
    <body>
        <header class="dashboard">
            <div class="logo-section">
                <a href="indexOwner.html"> V&M <span>Shopping</span></a>
            </div>
            <div class="search-section">
                <input class="search-text" type="text" name="" placeholder="Search">
                <a class="search-btn" href="#"><i class ="fas fa-search"></i></a> 
            </div>
        </header>

        <div class="main-section">
            <aside id="side-menu">
                <ul class="menu">
                    <li><a class="selected" href="indexOwner.html">Dashboard</a> </li>
                    <li><a href="sales.html">Sales</a> </li>
                    <li><a href="employess.html">Employees</a> </li>
                    <li><a href="manageProducts.html">Products</a> </li>                                     
                    <li><a onclick="logout()">Logout</a> </li>                        
                </ul>
            </aside>
            <div class="content">
                <div class="main-info">
                    <div class="top-section">
                        <h3>Admin</h3>
                    </div>
                    <div class="down-section">
                        <div class="tab section">
                            <div class="tabs attendants">
                                <h1>000</h1>
                                <p>No. of Employees</p>
                            </div>
                            <div class="tabs sale">
                                <h1>000</h1>
                                <p>Total Sales</p>
                                </div>
                            <div class="tabs products">
                                <h1>000</h1>
                                <p>Products Available</p>
                            </div>
                            <div class="tabs productsun">
                                <h1>000</h1>
                                <p>Products Unavailable</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>