<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Store Manager application, Admin dashboard">
        <meta name="author" content="Victor Nomwesigwa">
        <meta name="HandheldFriendly" content="true">

        <title>V & M Shopping</title>
        <!--Stylesheet-->
        <link rel="stylesheet" type="text/css" href="../css/index.css" />

        <script defer src="http://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="../scripts/jquery-3.3.1.js"></script>
        <script src="../scripts/viewUsers.js"></script>
        <script src="../scripts/logout.js"></script>   
    </head>
    <body>
        <header class="dashboard">
            <div class="logo-section">
                <a href="indexOwner.html"> V&M <span>Shopping</span></a>
            </div>
        </header>

        <div class="main-section">
            <aside id="side-menu">
                <ul class="menu">                        
                    <li><a href="indexOwner.html">Dashboard</a> </li>
                    <li><a href="sales.html">Sales</a> </li>
                    <li><a class="selected" href="employess.html">Employees</a> </li>
                    <li><a href="manageProducts.html">Products</a> </li>                                    
                    <li><a onclick="logout()">Logout</a> </li>    
                </ul>
            </aside>
            <div class="content">
                <div class="main-info">
                    <div class="down-section">             
                        <div class="view-form">
                            <div class="employees">
                                <h5>View Employees</h5>
                                <br>
                                <form>
                                    <span class="errors" style="color:#FF0000"></span>
                                    <div class="form-wrap">
                                        <h5>Users</h5>
                                        <input type="radio" name="users" id="radio-one" class="form-radio" onclick="allUsers()"><label for="radio-one">All Users</label>
                                        <input type="radio" name="users" id="radio-two" class="form-radio" onclick="displayroleUsers()"><label for="radio-two">Users under a Role</label>
                                    </div>
                                    <div id="formwrapped" style="display: none">
                                        <input type="text" id="roleUser" placeholder="Enter User Role">
                                        <input type="button" id="roleBtn" value="Search Users" onclick="usersroles()">  
                                    </div>
                                </form>
                                <br>
                                <table id="userTable">
                                    <thead>
                                        <tr style="background-color: #090a25; color:#FFF; padding:10px 10px 10px 10px ;">
                                            <th>Employee ID</th>
                                            <th>Employee Name</th>
                                            <th>Employee Username</th>
                                            <th>Password</th>
                                            <th>Role</th>                                        
                                        </tr>
                                    </thead>
                                    <tbody id="table_body">
                                        <tr  style="border-bottom:1px solid #3CC; background-color:#C0C0C0;  color:#000;"></tr>
                                    </tbody>
                                </table>      
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>