<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Store Manager application, Admin dashboard">
        <meta name="author" content="Victor Nomwesigwa">
        <meta name="HandheldFriendly" content="true">

        <title>V & M Shopping</title>
        <!--Stylesheet-->
        <link rel="stylesheet" type="text/css" href="../css/index-edit.css" />

        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <script src="../scripts/jquery-3.3.1.js"></script>
        <script src = "../scripts/getProductsAttendant.js"></script>
        <script src="../scripts/makeSale.js"></script>
        <script src="../scripts/logout.js"></script>

    </head>
    <body>
        <div style="position:absolute;opacity:0.9;width:auto;left:8px;right:10px;">
            <div>
                <div class="gridwrapper" style="height:10%;">
                    <div class="gridcontent" style="width:100%;background:#262626;border-right-color:transparent;">
                        <header><h1 style="color:white; text-align: center;">V & M SHOPPING</h1></header>
                    </div>
                    <div class="gridcontent" style="width:100%;background:#262626;border-right-color:transparent;">
                        <ul id="menu">
                            <li><a href="indexAttendants.html">Home</a> </li>
                            <li><a href="salesAttendants.html">Sales</a> </li>
                            <li><a class="selected" href="manageProductA.html">Products</a> </li>                                    
                            <li><a onclick="logout()">Logout</a> </li>   
                        </ul>
                    </div>
                </div>
                <div class="gridwrapper">
                    <div class="gridcontent" style="background-color:#ffffff;border:none;width:100%;padding-top:15px;">
                        <div style="display: block;border:none;padding-top:5px;width:100%;height:17%;margin-bottom:10px;text-align: center;">
                            <div id="add-form">
                                <form>
                                    <span class="errors" style="color:#FF0000"></span>
                                    <div id="form-wrap">
                                        <input type="text" id="singleProduct" placeholder="Enter Product ID">
                                        <input type="button" id="pdtBtn" value="Search Product" onclick="singleproduct()"> 
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gridwrapper">
                    <div class="gridcontent" style="overflow-x:auto; margin-top:15px; margin-left:10px;text-align: center;width:75%;background:white;border-right-color:transparent;">
                        <table id="productTable">
                            <thead>
                                <tr style="background-color: #262626; color:#FFF; padding:10px 10px 10px 10px ;">
                                    <th>Product ID</th>
                                    <th>Product Name</th>
                                    <th>Category</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Measure</th>  
                                    <th>Select</th>                                         
                                </tr>
                            </thead>
                            <tbody id="table_body">
                                <tr  style="border-bottom:1px solid grey; background-color:#C0C0C0; color:#000;">
                                    
                                </tr>
                            </tbody>
                        </table> 
                    </div>
                </div>
                <div class="gridwrapper">
                    <div class="gridcontent" style="overflow-x:auto; margin-top:15px; margin-left:10px;text-align: center;width:100%;background:white;border-right-color:transparent;">
                        <div id="add-form">
                            <form >
                                <h5>Shopping Cart</h5>
                                <hr>
                                <div id="form-wrap">
                                    <label>Attendant</label> 
                                    <input type="text" name="userid" placeholder="User Name" id="usname" readonly>
                                </div>
                                <div id="form-wrap">
                                    <label>Pdt ID</label> 
                                    <input type="text" name="pdtid" placeholder="Product ID" id="pdtid" readonly>
                                </div>
                                <div id="form-wrap">
                                    <label>Qty</label> 
                                    <input type="text" name="pdtqty" placeholder="Product Quantity" id="pdtqty" required>
                                </div>
                                <span class="errors" style="color:#FF0000"></span>
                                <div id="form-wrap">
                                    <input type="button" onclick="saleProduct();" name="salebtn1" value="Make Sale">
                                    <input type="button" onclick="cancelSale();" name="salecancelbtn1" value="Cancel Sale">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </body>
</html>
