<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="Store Manager application, Admin dashboard">
            <meta name="author" content="Victor Nomwesigwa">
            <meta name="HandheldFriendly" content="true">

            <title>V & M Shopping</title>
            <!--Stylesheet-->
            <link rel="stylesheet" type="text/css" href="../css/index.css" />

            <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


    </head>
    <body>
            <header class="dashboard">
                <div class="logo-section">
                    <a href="indexOwner.html"> V&M <span>Shopping</span></a>
                </div>
            </header>

            <div class="main-section">
                <aside id="side-menu">
                    <ul class="menu">
                        
                            <li><a href="indexOwner.html">Dashboard</a> </li>
                            <li><a class="selected" href="salesOwner.html">Sales</a> </li>
                            <li><a href="employess.html">Employees</a> </li>
                            <li><a href="#">Shift / Schedule</a> </li>
                            <li><a href="manageProducts.html">Manage Products</a> </li>
                            <li><a href="#">Reports</a> </li>                                      
                            <li><a href="loginOwner.html">Logout</a> </li>                       
                    </ul>
                </aside>
                <div class="content">
                    <div class="main-info">
                        <div class="top-section">
                            <h3>Weekly Sales</h3>
                        </div>
                        <div class="down-section">
                            <div class="sale">
                                <table>
                                    <thead>
                                        <tr style="background-color:#2c3e50; color:#FFF; padding:10px 10px 10px 10px ;">
                                            <th>Item No.</th>
                                            <th>Name</th>
                                            <th>Qty</th>
                                            <th>Date</th>
                                            <th>Price</th>
                                            <th>Payment</th>
                                            <th>Attendant</th>                                           
                                        </tr>
                                    </thead>
                                    <tbody id="table_body">
                                        <tr  style="border-bottom:1px solid turquoise; background-color:#C0C0C0;  color:#000; padding:10px 10px 10px 10px ;"></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
    </body>
</html>